.about {
    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: bisque;
    height: auto;
    min-height: 100vh;
    width: 100%;
}

.about h1 {
    font-size: 2rem;
    padding: 15px 0;
}

.about_me {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;

    height: auto;
    width: 100%;
}

.skills {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 25px;

    width: 100%;
}