.contact {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
    justify-items: center;

    height: auto;
    min-height: 100vh;
    width: 100%;
}

.contact h1 {
    font-size: 2rem;
    padding: 15px 0;
}