.contact {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
    justify-items: center;

    background-color: tomato;
    padding: 15px 0;
    height: auto;
    min-height: 85vh;
    width: 100%;
}

.contact h1 {
    font-size: 2rem;
    padding-bottom: 15px;
}