.contact {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
    justify-items: center;

    background-color: #393E46;
    padding: 15px 0;
    height: auto;
    min-height: 85vh;
    width: 100%;
}

.contact h1 {
    border-bottom: 6px solid #222831;
    color: #EEEEEE;
    font-size: 3rem;
    padding-bottom: 5px;
}