.project_card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    box-shadow: 0px 0px 4px 0px var(--lightBlack);
    height: auto;
    max-width: 300px;
    width: 100%;
}

.project_card_image {
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: var(--lighterBlack);
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    height: auto;
    width: 100%;
}

.project_card_image img {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    object-fit: contain;
    height: 296px;
    width: 296px;
}

.project_card_information {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    gap: 15px;

    background-color: var(--lightBlack);
    color: var(--offWhite);
    padding: 10px;
    text-align: center;
    height: 100%;
    width: 100%;
}

.project_card_title {
    border-bottom: 2px solid var(--teal);
    color: var(--teal);
    font-size: 1.2rem;
}

.project_card_links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;

    width: 100%;
}

.project_card_links a {
    color: var(--offWhite);
    font-size: 1.2rem;
    font-weight: bold;
    text-decoration: none;
}

.project_card_links a:hover {
    text-decoration: underline;
    text-decoration-color: var(--teal);
    text-decoration-thickness: 3px;
    text-underline-offset: 4px;
}

.project_card_links span {
    font-size: 1.3rem;
}