.projects {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    padding-top: 50px;
    height: auto;
    min-height: 100vh;
    width: 100%;
}

.projects h1 {
    border-bottom: 6px solid var(--teal);
    color: var(--lightBlack);
    font-size: 3rem;
    padding-bottom: 5px;
}

.projects_list {
    display: grid;
    grid-auto-rows: 1fr;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 40px;
    justify-items: center;

    padding: 30px 30px;
    height: 100%;
    width: 100%;
    max-width: 1200px;
}