.welcome {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-color: aqua; /* TEMP */
    height: auto;
    min-height: 100vh;
    width: 100%;
}