.welcome {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 25px;

    height: auto;
    min-height: 100vh;
    width: 100%;
}

.welcome_message {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    height: auto;
    width: 85%;
}

.welcome_message h1 {
    font-size: 1.2rem;
    text-align: center;
}

.welcome a {
    background-color: var(--lighterBlack);
    border: 3px solid var(--lightBlack);
    color: var(--offWhite);
    cursor: pointer;
    font-size: 1.1rem;
    font-weight: normal;
    padding: 10px 8px;
    text-decoration: none;
}

.welcome a:hover {
    border-color: var(--teal);
}

.la-chevron-down {
    color: var(--teal);
}