#about {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 75px;

  padding: 25px 0;
  min-height: 100vh;
  width: 100%;
}

#aboutMe {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  gap: 45px;

  color: var(--offWhite);
  height: auto;
  width: 75%;
}

#aboutMe img {
  border: 2px solid black;
  border-radius: 5px;

  height: auto;
  width: auto;
}

#myInfo {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  gap: 25px;

  height: 100%;
}

#myStory {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly;
  gap: 15px;

  font-size: 18px;
  height: auto;
  width: auto;
}

.mySocialLinks {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 25px;

  height: auto;
  width: 100%;
}

.mySocialLinks a {
  color: var(--liteBlue);
  font-size: 55px;
}

.mySocialLinks a:hover {
  color: var(--grayBlue);
}

@media only screen and (max-width: 1000px) {
  #aboutMe {
    flex-direction: column;
    align-items: center;
  }
}
