#App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  height: auto;
  width: 100%;
}

.sectionTitle {
  border-bottom: 5px solid;
  font-size: 2.5rem;
  text-transform: uppercase;
}
