#App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  background-color: var(--darkBlue);
  height: auto;
  width: 100%;
}

.sectionTitle {
  color: var(--offWhite);
  border-bottom: 5px solid var(--grayBlue);
  font-size: 2.5rem;
  text-transform: uppercase;
}
