#contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 35px;

  height: 85vh;
  width: 70%;
}

#contactDetails {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

#contactDetails p {
  font-size: 18px;
  text-align: center;
}
