footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;

  background-color: #2f3645;
  height: 100px;
  width: 100%;
}

.footerCards {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.developedBy {
  color: #fff;
}

.developedBy span {
  color: #e84256;
}
