footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;

  background-color: var(--black);
  color: var(--offWhite);
  height: 80px;
  width: 100%;
}
