* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --lightBlack: #222831;
  --lighterBlack: #393E46;
  --offWhite: #EEE;
  --teal: #00ADB5;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Lato', sans-serif;
  overflow-x: hidden;
  height: 100vh;
  width: 100vw;
}

#root {
  height: 100%;
  width: 100%;
}
