* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --dark: #222831;
  --offWhite: #dddddd;
  --darkBlue: #30475e;
  --red: #f05454;
}

html,
body {
  font-family: 'Titillium Web', sans-serif;
  height: 100%;
  width: 100%;
}

#root {
  height: 100%;
  width: 100%;
}
