* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --offWhite: #C5C6C7;
  --liteBlue: #66FCF1;
  --grayBlue: #45A29E;
  --darkBlue: #1F2833;
  --black: #0B0C10;
}

html,
body {
  font-family: 'Titillium Web', sans-serif;
  height: 100%;
  width: 100%;
}

#root {
  height: 100%;
  width: 100%;
}
