#introContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 25px;

  min-height: 100%;
  width: 100%;
}

#introduction {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 50px;

  height: 400px;
}

#introLeft {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;

  height: 100%;
}

#introImage {
  border-radius: 8%;
  height: auto;
  max-width: 90%;
}
