nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    padding: 0 10px;

    height: 5vh;
    width: 100%;
}

.siteNavTitle {
    color: black;
    text-decoration: none;
}

#navLinks {
    display: flex;
    flex-direction: row;
    gap: 20px;

    list-style: none;
}

.navLink {
    color: black;
    text-decoration: none;
}