nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  background-color: var(--dark);
  font-size: 20px;
  padding: 35px;
  height: 50px;
  width: 100%;
}

.siteNavTitle {
  color: var(--offWhite);
  text-decoration: none;
}

#navLinks {
  display: flex;
  flex-direction: row;
  gap: 20px;

  list-style: none;
}

.navLink {
  color: var(--offWhite);
  text-decoration: none;
}

.navLink:hover {
  text-decoration: underline;
}
