nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  background-color: var(--dark);
  padding: 25px 50px 0 50px;
  height: 5vh;
  width: 100vw;
}

.siteNavTitle {
  color: var(--offWhite);
  text-decoration: none;
}

#navLinks {
  display: flex;
  flex-direction: row;
  gap: 20px;

  list-style: none;
}

.navLink {
  color: var(--offWhite);
  text-decoration: none;
}

.navLink:hover {
  text-decoration: underline;
}
