.projectCard {
  /* display: flex;
  flex-direction: row;

  height: auto;
  width: 75vw; */
}

.projectCard img {
  border: 2px solid #ddd;
  border-radius: 8px;
  padding: 6px;

  object-fit: cover;
  height: 300px;
  width: 400px;
}

.projectCardInfo {
  padding: 0 20px;
  height: 200px;
}
