.projects {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 30px;

  overflow: auto;

  padding-top: 10vh;
  height: 100%;
  width: 100vw;
}
