.projectCard {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 50px;

  height: auto;
  width: 60vw;
}

.projectCard img {
  border: 3px solid var(--offWhite);
  border-radius: 8px;

  object-fit: fill;
  height: 350px;
  width: 350px;
}

.projectInfo {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  gap: 10px;

  color: var(--offWhite);
  font-size: 18px;
  height: auto;
}

.projectInfo h2 {
  color: var(--grayBlue);
}

.projectLinks {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.projectLinks a {
  color: var(--liteBlue);
  font-size: 22px;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
}

.projectLinks a:hover {
  border-bottom: 3px solid var(--offWhite);
}

@media only screen and (max-width: 1000px) {
  .projectCard {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .projectInfo {
    align-items: center;
    text-align: center;
  }
}
