.desktop_menu {
    display: flex;
    align-items: center;
    gap: 45px;

    font-size: 18px;
    font-weight: normal;
    list-style: none;
}

.desktop_menu .navlink {
    background-color: var(--lightBlack);
    text-transform: uppercase;
}

.desktop_menu .navlink:hover {
    color: var(--teal);
    text-decoration: underline;
    text-decoration-color: var(--offWhite);
    text-decoration-thickness: 2px;
    text-underline-offset: 6px;
}