.desktop_menu {
    display: flex;
    align-items: center;
    gap: 45px;

    font-size: 18px;
    font-weight: bold;
    list-style: none;
}

.desktop_menu .navlink {
    background-color: var(--lightBlack);
}

.desktop_menu .navlink:hover {
    color: var(--teal);
}