.navlink {
    color: var(--offWhite);
    background-color: var(--lighterBlack);
    padding: 10px;
    text-decoration: none;
    height: auto;
    width: 100%;
}

.navlink:hover {
    background-color: var(--teal);
}